body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f3fb;
    font-family: Arial, sans-serif;
}

#container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #7c4eff;
    margin-bottom: 5px;
}

p {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.login-input {
    margin-bottom: 20px;
}

.login-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.login-input input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #e0e0e0;
}

#span-roxo {
    color: #7c4eff;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
}

input[type="submit"] {
    background-color: #7c4eff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #6633cc;
}

@media (max-width: 768px) {
    #container {
        padding: 20px;
    }
}