body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}

.header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    margin-right: 10px;
}

.availability-header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    align-items: center;
}

.availability {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex-wrap: wrap;
    gap: 20px;
}

.day:hover {
    transform: translateX(5px);
}

.day-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #7c4eff;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}

.time-select {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
}

input[type="time"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    width: 80%;
    box-sizing: border-box;
}

.toggle-switch {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
}

.toggle-switch:checked {
    background-color: #7c4eff;
}

.toggle-switch:before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.toggle-switch:checked:before {
    transform: translateX(20px);
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.purple {
    background-color: #7c4eff;
    color: white;
}

.purple:hover {
    background-color: #502faa;
}

@media (max-width: 768px) {
    .day {
        flex-direction: column;
        align-items: flex-start;
    }

    .time-select {
        width: 100%;
        margin-left: 0;
    }

    input[type="time"] {
        width: 100%;
    }
}